<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mediausjt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/usjticon"
        android:label="@string/mediausjt_name"
        android:theme="@style/AppTheme"
        tools:node="replace">
        <activity
            android:name=".application.MediaActivity"
            android:configChanges="keyboardHidden|screenSize"
            android:label="@string/mediausjt_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
